!!!
%html
  %head
    %meta{ charset: "UTF-8" }
    %title Example
    %link{ href:"https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif", rel: "stylesheet", type: "text/css" }
    %link{ href:"stylesheets/grid.css", rel: "stylesheet", type: "text/css" }
    %script{ src:"javascripts/grid.js", type: "text/javascript" }
  %body
    %header.header
      .container
    %section.section
      .container.content
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-6{ src: "http://placehold.it/460x460", width: 460, height: 460, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/140x220", width: 140, height: 220, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/140x220", width: 140, height: 220, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/140x220", width: 140, height: 220, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/140x220", width: 140, height: 220, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/140x220", width: 140, height: 220, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/140x220", width: 140, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-6{ src: "http://placehold.it/460x220", width: 460, height: 220, alt: '' }
        %img.brick.grid-6{ src: "http://placehold.it/460x220", width: 460, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/220x220", width: 220, height: 220, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x620", width: 300, height: 620, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/300x300", width: 300, height: 300, alt: '' }
    %footer.footer
      .container.content
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
        .grid-4
          %p Twitter Facebook Pinterest Tumblr
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
