!!!
%html
  %head
    %meta{ charset: "UTF-8" }
    %title Example
    %link{ href:"https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif", rel: "stylesheet", type: "text/css" }
    %link{ href:"stylesheets/grid.css", rel: "stylesheet", type: "text/css" }
    %script{ src:"javascripts/grid.js", type: "text/javascript" }
  %body
    %header.header
      .container
    %section.section
      .container.content
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-6{ src: "http://placehold.it/580x580", width: 580, height: 580, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/180x280", width: 180, height: 280, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/180x280", width: 180, height: 280, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/180x280", width: 180, height: 280, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/180x280", width: 180, height: 280, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/180x280", width: 180, height: 280, alt: '' }
        %img.brick.grid-2{ src: "http://placehold.it/180x280", width: 180, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-6{ src: "http://placehold.it/580x280", width: 580, height: 280, alt: '' }
        %img.brick.grid-6{ src: "http://placehold.it/580x280", width: 580, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-3{ src: "http://placehold.it/280x280", width: 280, height: 280, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x780", width: 380, height: 780, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-4{ src: "http://placehold.it/380x380", width: 380, height: 380, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
        %img.brick.grid-1{ src: "http://placehold.it/80x80",  width: 80,  height: 80, alt: '' }
    %footer.footer
      .container.content
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
        .grid-4
          %p Twitter Facebook Pinterest Tumblr
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
        .grid-2
          %ul
            %li About
            %li Terms
            %li Press
